@import 'partials/reset';

$indigo: #0A122A;
$gray: #818D92;

$primary-font: 'Quicksand', sans-serif;

section {
  height: 800px;
  padding-top: 80px;
}

main {
  padding-top: 80px;
}

nav {
  height: 80px;
  padding: 0 50px;
  background-color: $indigo;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: $primary-font;

  ul a:hover {
    text-decoration: underline;
  }

  h3 {
    font-size: 25px;
  }
}

nav ul {
  justify-content: space-between;
  display: flex;
}

nav ul li:first-of-type {
  display: flex;
}

li h3 {
  display: flex;
  width: 100%;
}
