@import 'partials/reset';

$indigo: #0A122A;
$gray: #818D92;
$light-gray: #EAF4F4;

$primary-font: 'Quicksand', sans-serif;

// ========================================
// Main navigation bar
// ========================================
nav {
  background-color: white;
  box-shadow: none;
}

.navigation-bar {
  height: 80px;
  margin: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-family: $primary-font;
  background-color: white;
  border-bottom: 1px solid $gray;

  ul a {
    display: flex;
    align-items: center;
    color: black;
    padding: 20px 20px;
    height: 80px;
  }

  ul a:hover {
    border-bottom: 2px solid $indigo;
    background-color: transparent;
    height: 82px;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul li {
    height: 80px;
  }

  h3 {
    font-size: 32px;
    color: black;
  }
}

// ========================================
// Main body
// ========================================
main {
  padding: 80px 50px;
}

// ========================================
// Header
// ========================================
header {
  font-family: $primary-font;
  margin-top: 80px;
  padding: 80px 50px;
  height: 400px;
}

.welcome-container {
  display: flex;
}

// ========================================
// Section
// ========================================
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
  font-family: $primary-font;

  h1 {
    font-size: 25px;
    text-align: center;
    padding: 30px 0px;
    margin-bottom: 30px;
    width: 100%;
    // border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
  }

  p {
    text-align: center;
  }
}

#about {
  .about-text {
    font-size: 20px;

    p {
      padding: 10px 0px;
      line-height: 28px;
    }
  }
}
