@import 'partials/reset';

$indigo: #0A122A;
$gray: #818D92;
$light-gray: #EAF4F4;

$primary-font: 'Quicksand', sans-serif;

// ========================================
// Main navigation bar
// ========================================
nav {
  background-color: white;
  box-shadow: none;
}

.navigation-bar {
  height: 80px;
  margin: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-family: $primary-font;
  background-color: white;
  border-bottom: 1px solid $gray;

  ul a {
    display: flex;
    align-items: center;
    color: black;
    padding: 20px 20px;
    height: 80px;
  }

  ul a:hover {
    border-bottom: 2px solid $indigo;
    background-color: transparent;
    height: 82px;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul li {
    height: 80px;
  }

  h3 {
    font-size: 32px;
    color: black;
  }
}

// ========================================
// Main body
// ========================================
main {
  padding: 80px 50px;
}

// ========================================
// Header
// ========================================
header {
  font-family: $primary-font;
  // margin-top: 80px;
  padding: 80px 50px;
  // height: 400px;
}

.welcome-container {
  display: flex;
}

// ========================================
// Section
// ========================================
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
  font-family: $primary-font;

  h1 {
    font-size: 25px;
    text-align: center;
    padding: 30px 0px;
    margin-bottom: 30px;
    width: 100%;
    // border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
  }

  h2 {
    font-size: 20pt;
  }

  p {
    // text-align: center;
  }
}

#about {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;

  .profile-image {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-right: 50px;
  }

  .about-text {
    font-size: 20px;

    p {
      padding: 10px 0px;
      line-height: 28px;
    }
  }
}

#resume {
  .resume-section {

  }
}

#technologies {
  .technologies-grid {
  }

  .col {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
  }

  .col:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .col i {
    font-size: 200px;
  }

  .col svg {
    height: 200px;
    width: 200px;
  }
}

#projects {
  .project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px 100px;
    padding: 40px;
    border-bottom: 1px solid $gray;

    img {
      width: 400px;
      object-fit: contain;
    }

    .project-subtitle {
      margin-top: 10px;
      line-height: 20px;
    }
  }

  .project-container:last-of-type {
    border: none;
  }
}
