
/* ================================================== */
/* Main View */
/* ================================================== */
.main-view-container {
  background-color: #EFEFEF;
}

/* ================================================== */
/* Main Header */
/* ================================================== */
.main-view-header {
  background-color: #FFFFFF;
  display: flex;
  height: 75px;
}

/* ================================================== */
/* Main Footer */
/* ================================================== */
.main-view-footer {
  background-color: #FFFFFF;
  display: flex;
  height: 125px;
}
